//Global Styles
.page-title{
	color:$grey
}

body{
	display:none;
	@include astoria;
}

.hide{
	display:none;
}

main{
	margin-top:130px;
	@media ($bp-smaller-than-tablet){
		margin-top:230px;
	}
}

.boxlink{
	color:$white;
	border:3px solid white;
	padding:1em 3.5em;
	@include astoria-bold;
	font-size:2.4rem;
	text-transform:uppercase;
	display:inline-block;
	text-decoration:none;
	transition:all .3s ease-in-out;
	max-width:300px;
	margin:0 auto;
	&:hover,
	&:active,
	&:focus{
		background:white;
		color:$green;
		text-decoration:none;
	}
}

.center{
	text-align:center;
}

.curtain{
			background-color:rgba(0,0,0,.2);
			position:absolute;
			top:0;
			bottom:0;
			right:0;
			left:0;
			z-index:250;
		}

//

//Carousel styles

.title{
	position:absolute;
	z-index:500;
	text-align:center;
	color:$white;
	width:100%;
	top:48%;
	margin:0;
	@include astoria-light;
	letter-spacing:.5px;
	line-height:1;
	transform: translateY(-50%);
}


.row.slider{
	margin:0;
	padding:0;
	.content{
		position:relative;
		height:565px;
	}
}

.carousel{
	//height:550px;
	position:relative;
	&.home{
		//border-bottom:15px solid $green;

		.panel{
			background-repeat:no-repeat;
			background-size:cover;
			background-position:center center;
			height:550px;
		}

		&:after{
		content:'';
		height:1.5em;
		width:100%;
		background:$green;
		position:absolute;
		top:100%;
		right:0;
	}
	}

	&.tenants{
		margin-bottom:1em;
		.slick-prev{
			display:none;
		}
		.slick-next{
			background:$white;
			background-repeat:no-repeat;
			background-size:30px;
			background-position:center center;
			right:2em !important;
			height:100%;
			width:80px;
			svg{
				transform:rotate(90deg);
				height:30px;
				width:80px;
				.cls-1{
					fill:$grey-alt;
				}


			}
			&:hover,
			&:active,
			&:focus{
				svg{
					.cls-1{
						fill:$green;
					}
				}
			}
			&:before{
				content:'';
			}
		}
		.tenant{
			height:150px;
			width:150px;
			text-align:center;
			margin-right:8em;
			img{
				position: relative;
				text-align:center;
				margin:0 auto;
			     top: 50%;
			     transform: perspective(1px) translateY(-50%);
			     max-width:100%;
			     height:auto;

			}
		}
	}
}

//Single property

.description.single{
	color:$grey;
	@include astoria-medium;
	padding-right:4em;
	@media ($bp-smaller-than-tablet){
		padding-right:0;
	}
}

.single-map{
	padding-right:4em;
	@media ($bp-smaller-than-tablet){
		padding-right:0;
	}
}

.map-description, .faqs{
	color:$grey;
	@include astoria-medium;
}

.property-single{
	.banner{
		//border-bottom:15px solid $green;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
		//height:550px;
		margin-bottom:3em;
	}

	.faq-section{
		.content{
			display:none;
		}
		
	}
	
	.open{
		.section-content{
			display:block;
		}
	}

	.hidden{
		.section-content{
			display:none;
		}
	}

	.closed{
		.section-content{
			//display:none;
		}
		.section-title-wrapper{
			.trigger{
				transform:rotate(180deg);
			}
		}
	}

	.section-title-wrapper{
		position:relative;

		.section-title{
			border-bottom:2px solid $green;
		}

		.trigger{
			position:absolute;
			right:1em;
			bottom:2em;
			width:55px;
			height:auto;
			cursor:pointer;
			z-index:10;
			transition: .3s .1s ease-in-out;
			&:active,
			&:focus,
			&:hover{
				opacity:.5;
			}
		}

	}
}

.property-info{
	h3{
		@include astoria-bold;
		font-size:2em;
		color:$grey;
		text-transform: uppercase;
		line-height:1.4;	

		span{
			@include astoria-light;
			text-transform:none;
			letter-spacing:.1rem;
		}
	}

	a{
		display:block;
		font-size:2em;
		color:$black;
		text-decoration:none;
		//border-bottom:2px solid $green;
		@include astoria-light;
		overflow: hidden;
	    //font-weight: 800;
	    -webkit-transition: -webkit-transform 0.3s;
	    transition: transform 0.3s;
		position: relative;
	    display: inline-block;
	    outline: none;
	    //color: #404d5b;
	    vertical-align: bottom;
	    text-decoration: none;
	    white-space: nowrap;
	    padding-top:7px;
	   	line-height:1.5;

		&:hover,
		&:active,
		&:focus{
			-webkit-transform: translateY(10%);
			transform: translateY(10%);

			&:before{
				webkit-transform: translateY(-100%) translateY(2px);
				transform: translateY(-100%) translateY(2px);
			}
		}

			&:before{
				position: absolute;
			    top: 0;
			    left: 0;
			    z-index: -1;
			    width: 100%;
			    height: 100%;
			    background: $green;
			    content: '';
			    -webkit-transition: -webkit-transform 0.3s;
			    transition: transform 0.3s;
			    //5px is the "height" of our before
			    -webkit-transform: translateY(100%) translateY(-2px);
			    transform: translateY(100%) translateY(-2px);
				-webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
				transition-timing-function: cubic-bezier(0.6,0,0.4,1);
			}
		
	}
}

.sp-carousel{
	margin-bottom:2em;
}

//Landing page

.landing-banner{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	//border-bottom:15px solid $green;
	height:550px;
	margin-bottom:4.5em;
	position:relative;
	&:after{
		content:'';
		height:1.5em;
		width:100%;
		background:$green;
		position:absolute;
		top:100%;
		right:0;
	}
	.landing-title{
		position:absolute;
		z-index:500;
		text-align:center;
		color:$white;
		width:100%;
		top:45%;
		margin:0;
		@include astoria-bold;
		letter-spacing:.5px;
		line-height:1;
		transform: translateY(-50%);
	}
}

.listing-row{
	margin-bottom:4em;
	background-color:$light-grey-alt;
	color:$grey;
	min-height:415px;
	position:relative;
	@media (max-width:850px) and ($bp-larger-than-mobile){
		min-height:500px;
	}
	// display: flex;
 //  		flex-wrap: wrap;
	// [class*='columns-']{
 //  			display: flex;
 //  			.content{
	// 				flex-direction:row;
	// 				width:90%;
	// 			}

	// }

	.img-wrapper{
		position:relative;
	}
	.listing-wrapper{
		.listing{
			display:flex;
			@media ($bp-smaller-than-tablet){
				display:block;
			}
			&.left{
				flex-direction: row-reverse;
				@media ($bp-smaller-than-tablet){
					flex-direction:unset;
				}
			}
		}
		
		//flex-direction: row-reverse;
	}
	.img{
		//height:100%;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
		//height:415px;
		position:absolute;

		@media ($bp-smaller-than-tablet){
			position:relative;
			max-height:415px;
		}
		
		// top:0;
		// bottom:0;
		// right:0;
		// left:0;
	}

	.listing{
		.p-title{
			@include astoria-medium;
			color:$grey;
		}
		&.left{
			.img{
				top:0;
				bottom:0;
				right:0;
				left:0;
				@media ($bp-smaller-than-tablet){
					//position:static;
					//height:415px;
				}
			}
			.desc{
				//position:absolute;
				right:0;
				@media ($bp-smaller-than-tablet){
					//position:static;
				}
			}
		}

		&.right{

			.desc{
				@media ($bp-smaller-than-tablet){
					//display:none;
				}
			}

			.desc-mobile{
				display:none;
				@media ($bp-smaller-than-tablet){
					display:block;
				}
			}

			.img{
				top:0;
				bottom:0;
				right:0;
				left:0;
				@media ($bp-smaller-than-tablet){
					position:static;
					height:415px;
					//top:0;
				}
							
				

			}
		}

	}

	.desc, .desc-mobile{
		//background-color:$grey;
		.content{
			padding:2em;
		}

		a.p-view{
		display:block;
		font-size:2.4em;
		color:$black;
		text-decoration:none;
		//border-bottom:2px solid $green;
		@include astoria-light;
		overflow: hidden;
	    //font-weight: 800;
	    -webkit-transition: -webkit-transform 0.3s;
	    transition: transform 0.3s;
		position: relative;
	    display: inline-block;
	    outline: none;
	    //color: #404d5b;
	    vertical-align: bottom;
	    text-decoration: none;
	    white-space: nowrap;
	    padding-top:7px;
	   	line-height:1.5;
	   	position: absolute;
	   	bottom:2.5rem;
    	z-index: 1;

    	@media ($bp-smaller-than-tablet){
    		position:relative;
    		bottom:0;
    	}

		&:hover,
		&:active,
		&:focus{
			-webkit-transform: translateY(10%);
			transform: translateY(10%);

			&:before{
				webkit-transform: translateY(-100%) translateY(2px);
				transform: translateY(-100%) translateY(2px);
			}
		}

			&:before{
				position: absolute;
			    top: 0;
			    left: 0;
			    z-index: -1;
			    width: 100%;
			    height: 100%;
			    background: $green;
			    content: '';
			    -webkit-transition: -webkit-transform 0.3s;
			    transition: transform 0.3s;
			    //5px is the "height" of our before
			    -webkit-transform: translateY(100%) translateY(-2px);
			    transform: translateY(100%) translateY(-2px);
				-webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
				transition-timing-function: cubic-bezier(0.6,0,0.4,1);
			}
		
		}
	}
}

//Contact forms
.contact{
	background-color:$green;
	padding:8em 0 8em 0;
	
	&.agent-contact{
		.wrapper{
			[class*='columns-']{
				.content{
					flex-direction:row;
					width:90%;
				}
			}
		}
	}

	.greeting{
		color:$white;
		@include astoria-light;
		padding-right:1em;
		//width:95%;
		.content{

		}
		h2{
			width:95%;
			font-size:3.2rem;
			@media ($bp-smaller-than-tablet){
				width:100%;
			}
		}
	}

	.wrapper{
		padding:0 4.5em;
		display: flex;
  		flex-wrap: wrap;

  		[class*='columns-']{
  			display: flex; 
		  //padding: 0.5em;
			//width: 100%;
			.content{
				//background-color: #fff;
				display: flex;
				flex-direction: column;
				//padding: 1em;
				width: 100%;
				justify-content: center;
			}
  		}
		//display:table;
		div{
			// display:table-cell;
			// vartical-align:middle;
			// height:100%;
		}
		@media ($bp-smaller-than-tablet){
		padding:0 2em;
		text-align:center;
	}
	}
}

//Carousel element styling

.slick-dots{
	//position:absolute;
	z-index:500;
	bottom:2em !important;
	//text-align:center;
	//width:100%;
	li{
		//display:inline-block;
		width:6em !important;
		&.slick-active{
			button{
				background:$green !important;
			}
		}
		button{
			height:4px !important;
			background:$white !important;
			margin-right:1em;
			width:100% !important;
			//width:4em !important;
			padding:0 !important;

		}
	}
}

.slick-dotted.slick-slider{
	margin-bottom:0 !important;
}

.section-title{
	color:$grey;
	margin:4rem 0;
	letter-spacing:.51px;

}

.stay{
	.section-title{
		margin:4rem 0 0 0;
	}

	.mobile-show{
		text-align:left;
		ul{
			li{
				display:inline-block;
				text-align:center;
				vertical-align:middle;
				width:31%;
				img{
					max-width:80%;
				}
			}
		}
	}
}

.m-partners{
	padding:0 3em 1em 3em;
	@media ($bp-smaller-than-tablet){
		padding: 2rem 0;
		text-align:center;
	}
	.m-partner{
		padding-right:5%;
		height:200px;
		
		a{
			&:hover,
			&:focus,
			&:active{
				opacity:.5;
			}
		}
		&:first-child{
			//padding:0 10% 0 0;
			padding-right:0;
			img{
				//max-width:300px;
			}
		}

		&.middle{
			text-align:center;
		}

		// &:last-child{
		// 	padding:0 10% 0 0;
		// }
		img{
			max-width:100%;
			height:auto;
			margin:0 auto;
			top: 50%;
			transform: perspective(1px) translateY(-50%);
			position:relative;
		}

		@media ($bp-smaller-than-tablet){
			margin-bottom:2em;
			height:auto;
			padding:0 0 0 0;
			text-align:center;

			&:first-child{
				padding:0 0 0 0;
				img{
					//max-width:300px;
				}
			}	

			img{
				//max-width:80%;
				transform:unset;
				top:unset;
				position:static;
			}

			&:nth-of-type(n+2){
				img{
					max-width:60%;
				}
			}
		}
	}
}

//Contact form
.contact-form{
	input{
		background:transparent;
		border:none;
		border-bottom:2px solid $grey;
		border-radius:none;
		width:100%;
		font-size:1.6em;
		text-transform:uppercase;
		margin-bottom:1em;
		padding:6px 0;
		@include interstate;
	}
	input::-webkit-input-placeholder {
		@include interstate;
	    color:$grey;
	    //font-size:1.6em;
	}

	input::-moz-placeholder {
	    @include interstate;
	    color:$grey;
	    //font-size:1.6em;
	}

	 input:-ms-input-placeholder {
	    @include interstate;
	     color:$grey;
	    //font-size:1.6em;
	}

	 input:-moz-placeholder {
	    @include interstate;
	     color:$grey;
	    //font-size:1.6em;
	}

	 input::webkit-input-placeholder {
	    @include interstate;
	     color:$grey;
	    //font-size:1.6em;
	}

	textarea{
		border:2px solid $grey;
		@include interstate;
	     color:$grey;
	     text-transform:uppercase;
	     width:100%;
	     height:75px;
	    //font-size:1.6em;
	}

	textarea{
		
	}

	label{
		font-size:1.6em;
		color:$grey;
		text-transform:uppercase;
		padding: 1em 0 0 0;
    	margin: 0;
	}

	br{
		display:none;
		height:0;
	}
	input[type="submit"]{
		display:inline-block;
		background:$green;
		color:$white;
		padding:.5em 1em;
		border:2px solid $white;
		width:auto;
		height:auto;
		margin:1em 0;
		text-transform:uppercase;
		&:hover,
		&:active,
		&:focus{
			background:white;
			color:$green;
			border:2px solid $green;
		}
	}

	&.agent{
		input{
			border-bottom:2px solid $light-grey;
			color:$white;
		}
		input::-webkit-input-placeholder {
		@include interstate;
	    color:$white;
	    //font-size:1.6em;
		}

		input::-moz-placeholder {
		    @include interstate;
		    color:$white;
		    //font-size:1.6em;
		}

		 input:-ms-input-placeholder {
		    @include interstate;
		     color:$white;
		    //font-size:1.6em;
		}

		 input:-moz-placeholder {
		    @include interstate;
		     color:$white;
		    //font-size:1.6em;
		}

		 input::webkit-input-placeholder {
		    @include interstate;
		     color:$white;
		    //font-size:1.6em;
		}
	}
	.content{
		//background-color: #fff;
		display: flex;
		flex-direction: row;
		//padding: 1em;
		width: 100%;
		justify-content: center;
		width:90%;
	}

	.submit-wrapper{
		.email,.submit{
			display:inline-block;
			vertical-align:bottom;

		}
		.email{
			width:95%;
		}
		.submit{
			width:5%;
			margin-right:-3px;
			input[type="submit"]{
				text-indent: -99999px;
				border:none;
				border-bottom:2px solid $light-grey;
				background-image:url('img/rl-arrow_right.png');
				background-position:center;
				background-size:15px;
				background-repeat:no-repeat;
				width:25px;
				margin:0;
				margin-left:-3px;
				height:38px;
				//border:0;
				&:hover,
				&:active,
				&:focus{
					background-color:transparent;
				}
			}
		}
	}
}

// div.wpcf7 .ajax-loader{
// 	position:absolute;
// }

//Text/Contact pages

.the-content{
	img{
		max-width:100%;
		height:auto;
	}
	h1,h2,h3,h4,h5,h6,p{
		color:$grey;
	}
	strong{
		@include astoria-bold;
	}

	a{
		display:block;
		font-size:2em;
		color:$black;
		text-decoration:none;
		//border-bottom:2px solid $green;
		@include astoria-light;
		overflow: hidden;
	    //font-weight: 800;
	    -webkit-transition: -webkit-transform 0.3s;
	    transition: transform 0.3s;
		position: relative;
	    display: inline-block;
	    outline: none;
	    //color: #404d5b;
	    vertical-align: bottom;
	    text-decoration: none;
	    white-space: nowrap;
	    padding-top:7px;
	   	line-height:1.5;

		&:hover,
		&:active,
		&:focus{
			-webkit-transform: translateY(10%);
			transform: translateY(10%);

			&:before{
				webkit-transform: translateY(-100%) translateY(2px);
				transform: translateY(-100%) translateY(2px);
			}
		}

			&:before{
				position: absolute;
			    top: 0;
			    left: 0;
			    z-index: -1;
			    width: 100%;
			    height: 100%;
			    background: $green;
			    content: '';
			    -webkit-transition: -webkit-transform 0.3s;
			    transition: transform 0.3s;
			    //5px is the "height" of our before
			    -webkit-transform: translateY(100%) translateY(-2px);
			    transform: translateY(100%) translateY(-2px);
				-webkit-transition-timing-function: cubic-bezier(0.6,0,0.4,1);
				transition-timing-function: cubic-bezier(0.6,0,0.4,1);
			}
		
	}
}

main.text{
	.row{
		margin-bottom:8em;
		[class*='columns-']:first-of-type{
			.the-content{
				padding-right:4em;
			}
		}
	}
}

//Animate.css animations
//From https://daneden.github.io/animate.css/
//Only loading what we need...
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.mobile-show{
	display:none;
	@media ($bp-smaller-than-tablet){
		display:block;
	}
}

.desktop-only-show{
	display:block;
	@media ($bp-smaller-than-tablet){
		display:none;
	}
}

//Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
